{{!< default}}
<div class="topJHS">
	<img src="/images/BrooklynCrop.jpg" alt="NYC" />
	<div class="logo">
		<h1 id="name">John Shahabian</h1>
		<div id="line1"></div>
		<div class="line2"></div>
		<h4 class="dev">The Hacker Apostle has descended to save thou from the digital deluge</h4>

	</div>

</div>


<div class="line3"><div class="circle"><img src="/images/Fireside.jpg" alt="Apostle" id="me" /></div></div>

<div class="greeting">
	<h1>Welcome to my site!</h1>
	<h3>A web developer with the ability to complete projects through assessing gaps in technology, wading through the limitless options, and tailoring it to your specific needs.</h3>
	<br>
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
		Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
		Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
	</p>
</div>

<!-- <div class="port">
	<button type="button" name="button">View Portfolio</button>
</div> -->

<div class="coffee">
	<img src="/images/Gibralter.jpg" alt="Coffee" />
	<h3 id="Discipline">Discipline</h3><h3 id="Creative">Creative</h3>
	<h3 id="Passion">Passionate</h3><h3 id="Diplomatic">Diplomatic</h3><h3 id="Leader">Leader</h3><h3 id="Obsessive">Obsessed</h3><h3 id="Dedicated">Dedicated</h3>
	<h3 id="Strong">Strong</h3><h3 id="Independent">Independent</h3><h3 id="Professional">Professional</h3><h3 id="Reliable">Reliable</h3><h3 id="Honest">Honest</h3><h3 id="Personable">Personable</h3><h3 id="Constructive">Constructive</h3>
	<h3 id="Imaginative">Imaginitive</h3><h3 id="Forward-Thinking">Forward-Thinking</h3>
	<h3 id="Result-Driven">Result-Driven</h3><h3 id="Friendly">Friendly</h3><h3 id="Polarizing">Polarizing</h3><h3 id="Trustworthy">Trustworthy</h3><h3 id="Smart">Smart</h3>
</div>
