{{!< default}}
<div class="topJHS">
	<img src="/images/AspenRocks.jpg" alt="SnowyMountin" />
	<h1 id="name">John Shahabian</h1>
	<div class="line1"></div>
	<div class="line2"></div>
	<h4 class="dev">The Hacker Apostle has descended to save thy from the digital deluge</h4>
</div>

<div class="circle"><img src="/images/Fireside.jpg" alt="Apostle" id="me" /></div>
<div class="line3"></div>


<div class="container jumbo">
	<div class="jumbotron">
		<h1>I am in a jumbotron</h1>
	</div>
</div>
