#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
	position: relative;
	bottom: -18vw;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.topJHS img{
	width: 100%;
	position: relative;
}

#name{
	position: relative;
	top: 8%;
	// left: 22%;
	text-align: center;
	color: white;
	font-size: 8vw;
}

#line1{
	position: relative;
	top: 6%;
	background: white;
	width: 70%;
	height: 3px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.line2{
	position: relative;
	top: 8%;
	background: white;
	width: 70%;
	height: 3px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.dev{
	position: relative;
	top: 10%;
	// left: 8%;
	text-align: center;
	color: white;
	font-size: 2.5vw;
}

.line3{
	position: relative;
	top: 0;
	background: rgb(250,72,46);
	width: 100%;
	height: 6px;
}

.circle{
	width: 22vw;
	height: 22vw;
	position: relative;
	background-color: white;
	// background-image: url("/images/gold/Gold-Texture30.jpg");
	top: -12vw;
	border-radius: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	box-shadow: 2px 2px 2px 2px lightgrey;
}

#me{
	width: 80%;
	position: relative;
	top: 6%;
	left: 6%;
	border-radius: 50%;
	z-index: 998 !important;
}

.logo{
	width: 100%;
	position: absolute;
	top: 0;
	height: 40%;
	// text-align: center;
}

.greeting h1{
	// text-align: center;
	font-size: 5vw;
	color: grey;
}

.greeting{
	top: 10vw;
	position: relative;
	text-align: center;
}

.greeting h3{
	width: 90%;
	color: grey;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.greeting p{
	width: 90%;
	color: grey;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.coffee img{
	width: 100%;
	position: relative;
	top: 14vw;
	height: 100%;
}

#Discipline{
	position: relative;;
	color: white;
	font-size: 5vw;
	left: 40vw;
	top: -24vw;
	display: inline;
}

@keyframes blinker {
  70% { opacity: 0.0; }
}

#Creative{
	position: relative;
	color: white;
	font-size: 5vw;
	left: 80vw;
	top: 3vw;
	float: left;
	display: inline;
	animation: blinker 90s linear infinite;
}

#Passion{
	position: relative;
	color: white;
	font-size: 5vw;
	left: 0;
	top: -6vw;
	display: inline;
	animation: blinker 80s linear infinite;
}

#Diplomatic{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 1vw;
	top: -26vw;
	display: inline;
	animation: blinker 65s linear infinite;
}

#Leader{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 0vw;
	top: -12vw;
	display: inline;
	animation: blinker 65s linear infinite;
}

#Obsessive{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 3vw;
	top: -18vw;
	display: inline;
	animation: blinker 65s linear infinite;
}

#Dedicated{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 0vw;
	top: -8vw;
	display: inline;
	animation: blinker 50s linear infinite;
}

#Strong{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 0;
	top: -32vw;
	display: inline;
	animation: blinker 60s linear infinite;
}

#Independent{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 8vw;
	top: -26vw;
	display: inline;
	animation: blinker 40s linear infinite;
}

#Professional{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 22vw;
	top: -2vw;
	display: inline;
	animation: blinker 40s linear infinite;
}

#Reliable{
	position: relative;
	color: white;
	font-size: 3vw;
	left: -35vw;
	top: 0vw;
	display: inline;
}

#Honest{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 0;
	top: -12vw;
	display: inline;
	animation: blinker 40s linear infinite;
}

#Personable{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 24vw;
	top: -28vw;
	display: inline;
	animation: blinker 30s linear infinite;
}

#Constructive{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -12vw;
	top: -25vw;
	display: inline;
	animation: blinker 30s linear infinite;
}

#Imaginative{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -8vw;
	top: -8vw;
	display: inline;
	animation: blinker 30s linear infinite;
}

#Forward-Thinking{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -6vw;
	top: -18vw;
	display: inline;
	animation: blinker 26s linear infinite;
}

#Result-Driven{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 6vw;
	top: -25vw;
	display: inline;
	animation: blinker 44s linear infinite;
}

#Friendly{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 0;
	top: -8vw;
	display: inline;
	animation: blinker 22s linear infinite;
}

#Polarizing{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 16vw;
	top: -6vw;
	display: inline;
	animation: blinker 20s linear infinite;
}

#Trustworthy{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 6vw;
	top: -22vw;
	display: inline;
	animation: blinker 18s linear infinite;
}

#Smart{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -14vw;
	top: -18vw;
	display: inline;
	animation: blinker 22s linear infinite;
}
