#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
	position: relative;
	bottom: -18vw;
}

// .gallery-image img {
//     display: block;
//     max-width: 100%;
//     height: auto;
// }

.topJHS img{
	width: 100%;
	position: relative;
}

#name{
	position: relative;
	top: 8%;
	// left: 22%;
	text-align: center;
	color: white;
	font-size: 8vw;
}

#line1{
	position: relative;
	top: 6%;
	background: white;
	width: 70%;
	height: 3px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.line2{
	position: relative;
	top: 8%;
	background: white;
	width: 70%;
	height: 3px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.dev{
	position: relative;
	top: 10%;
	// left: 8%;
	text-align: center;
	color: white;
	font-size: 2.5vw;
}

.line3{
	position: relative;
	top: 0;
	background: rgb(250,72,46);
	width: 100%;
	height: .5vw;
}

// .line4{
// 	position: absolute;
// 	background: rgb(250,72,46);
// 	width: 100%;
// 	height: 6px;
// 	top: 121.5vw;
// }

.circle{
	width: 22vw;
	height: 22vw;
	position: relative;
	background-color: white;
	// background-image: url("/images/gold/Gold-Texture30.jpg");
	top: -12vw;
	border-radius: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
	box-shadow: 2px 2px 2px 2px #65625f;
}

#me{
	width: 80%;
	position: relative;
	top: 6%;
	left: 6%;
	border-radius: 50%;
	z-index: 998 !important;
}

.logo{
	width: 100%;
	position: absolute;
	top: 0;
	height: 40%;
	// text-align: center;
}

.greeting h1{
	// text-align: center;
	font-size: 5vw;
	color: #65625f;
}

.greeting{
	padding-top: 10vw;
	padding-bottom: 5vw;
	// position: relative;
	text-align: center;
	background-color: #f7f7f7;
}

.greeting h3{
	width: 90%;
	color: #898582;
	// display: block;
  margin-left: auto;
  margin-right: auto;
	font-size: 2vw;
}

.greeting p{
	width: 90%;
	color: #898582;
	// display: block;
  margin-left: auto;
  margin-right: auto;
	font-size: 1vw;
}

.coffee{
	width: 100%;
	// position: relative;
	// top: 84vw;
	height: 100%;
	// display: inline-block !important;
}

.coffee img{
	width: 100%;
	position: relative;
	// top: 14vw;
	// height: 100%;
}

#Discipline{
	position: relative;
	color: white;
	font-size: 5vw;
	left: 50vw;
	top: -36vw;
	display: inline;
}

@keyframes blinker {
  70% { opacity: 0.0; }
}

#Creative{
	position: relative;
	color: white;
	font-size: 5vw;
	left: 55vw;
	top: -6vw;
	display: inline;
	animation: blinker 15s linear infinite;
	-webkit-animation: blinker 15s linear infinite;
  -moz-animation: blinker 15s linear infinite;
}

#Passion{
	position: relative;
	color: white;
	font-size: 5vw;
	left: -25vw;
	top: -12vw;
	display: inline;
	animation: blinker 20s linear infinite;
	-webkit-animation: blinker 20s linear infinite;
  -moz-animation: blinker 20s linear infinite;
}

#Diplomatic{
	position: relative;
	color: white;
	font-size: 3vw;
	left: -45vw;
	top: -32vw;
	display: inline;
	animation: blinker 25s linear infinite;
	-webkit-animation: blinker 25s linear infinite;
  -moz-animation: blinker 25s linear infinite;
}

#Leader{
	position: relative;
	color: white;
	font-size: 3vw;
	left: -80vw;
	top: -36vw;
	display: inline;
	animation: blinker 22s linear infinite;
	-webkit-animation: blinker 22s linear infinite;
  -moz-animation: blinker 22s linear infinite;
}

#Obsessive{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 42vw;
	top: -10vw;
	display: inline;
	animation: blinker 10s linear infinite;
	-webkit-animation: blinker 10s linear infinite;
  -moz-animation: blinker 10s linear infinite;
}

#Dedicated{
	position: relative;
	color: white;
	font-size: 3vw;
	left: -4vw;
	top: -28vw;
	display: inline;
	animation: blinker 14s linear infinite;
	-webkit-animation: blinker 14s linear infinite;
  -moz-animation: blinker 14s linear infinite;
}

#Strong{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 50vw;
	top: -32vw;
	display: inline;
	animation: blinker 24s linear infinite;
	-webkit-animation: blinker 24s linear infinite;
  -moz-animation: blinker 24s linear infinite;
}

#Independent{
	position: relative;
	color: white;
	font-size: 3vw;
	left: 12vw;
	top: -22vw;
	display: inline;
	animation: blinker 16s linear infinite;
	-webkit-animation: blinker 16s linear infinite;
  -moz-animation: blinker 16s linear infinite;
}

// #Professional{
// 	position: relative;
// 	color: white;
// 	font-size: 3vw;
// 	left: 22vw;
// 	top: -12vw;
// 	display: inline;
// 	animation: blinker 14s linear infinite;
// }

#Reliable{
	position: relative;
	color: white;
	font-size: 3vw;
	left: -60vw;
	top: -12vw;
	display: inline;
}

#Honest{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -22vw;
	top: -16vw;
	display: inline;
	animation: blinker 22s linear infinite;
	-webkit-animation: blinker 22s linear infinite;
  -moz-animation: blinker 22s linear infinite;
}

#Personable{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 10vw;
	top: -42vw;
	display: inline;
	animation: blinker 10s linear infinite;
	-webkit-animation: blinker 10s linear infinite;
  -moz-animation: blinker 10s linear infinite;
}

#Constructive{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -5vw;
	top: -25vw;
	display: inline;
	animation: blinker 28s linear infinite;
	-webkit-animation: blinker 28s linear infinite;
  -moz-animation: blinker 28s linear infinite;
}

#Imaginative{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 76vw;
	top: -38vw;
	display: inline;
	animation: blinker 24s linear infinite;
	-webkit-animation: blinker 24s linear infinite;
  -moz-animation: blinker 24s linear infinite;
}

#Forward-Thinking{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 48vw;
	top: -32vw;
	display: inline;
	animation: blinker 26s linear infinite;
	-webkit-animation: blinker 26s linear infinite;
  -moz-animation: blinker 26s linear infinite;
}

#Result-Driven{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 6vw;
	top: -25vw;
	display: inline;
	animation: blinker 14s linear infinite;
	-webkit-animation: blinker 14s linear infinite;
  -moz-animation: blinker 14s linear infinite;
}

#Friendly{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -10vw;
	top: -44vw;
	display: inline;
	animation: blinker 22s linear infinite;
	-webkit-animation: blinker 22s linear infinite;
  -moz-animation: blinker 22s linear infinite;
}

#Polarizing{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 1vw;
	top: -35vw;
	display: inline;
	animation: blinker 20s linear infinite;
	-webkit-animation: blinker 20s linear infinite;
  -moz-animation: blinker 20s linear infinite;
}

#Trustworthy{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: 33vw;
	top: -21vw;
	display: inline;
	animation: blinker 18s linear infinite;
	-webkit-animation: blinker 18s linear infinite;
  -moz-animation: blinker 18s linear infinite;
}

#Smart{
	position: relative;
	color: white;
	font-size: 1.5vw;
	left: -44vw;
	top: -25vw;
	display: inline;
	animation: blinker 12s linear infinite;
	-webkit-animation: blinker 12s linear infinite;
  -moz-animation: blinker 12s linear infinite;
}

.fadeText{
	position: absolute;
	width: 100%;
	display: inline-block;
}

.tech{
	text-align: center;
	background-color: #f7f7f7;
	padding-bottom: 5vw;
}

.tech h1{
	font-size: 5vw;
	margin: 2vw;
	color: #65625f;
}

.tech h4{
	font-size: 3vw;
	margin: 2vw;
	color: #898582;
}

.tile {
  width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
}

.purple{
	background-color: purple;
	color: #f7f7f7;
}

.orange{
	background-color: orange;
	color: #f7f7f7;
}

.red{
	background-color: red;
	color: #f7f7f7;
}

.green{
	background-color: green;
	color: #f7f7f7;
}

.blue{
	background-color: blue;
	color: #f7f7f7;
}


//   .title {
// 		margin-top: 0px;
// 	}
//
//   &.purple, &.blue, &.red, &.orange, &.green {
//     color: #fff;
//   }
//
//   &.purple {
//     background: $color_purple;
//
// 		&:hover {
// 			background: darken($color_purple, 10%);
// 		}
//   }
//
//   &.red {
//     background: $color_red;
//
// 		&:hover {
// 			background: darken($color_red, 10%);
// 		}
//   }
//
//   &.green {
//     background: $color_green;
//
// 		&:hover {
// 			background: darken($color_green, 10%);
// 		}
//   }
//
//   &.blue {
//     background: $color_blue;
//
// 		&:hover {
// 			background: darken($color_blue, 10%);
// 		}
//   }
//
//   &.orange {
//     background: $color_orange;
//
// 		&:hover {
// 			background: darken($color_orange, 10%);
// 		}
//   }
// }
